.details {
  display: flex;
  width: 100%;
  margin: 2rem 0 3rem 0;
  align-items: center;
}

.details_user {
  display: flex;
  width: 100%; 
}

.user {
  width: 100%;
}

.details img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 4rem;
  align-items: center;
}

.followers_details {
  margin-right: 3rem;
}

.username_details {
  margin-top: 2rem;
}