.container {
  display: flex;
  flex-direction: row;
  height:100vh;
  justify-content: center;
  padding: 5rem;
  gap: 30px;
}

.user_information {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: flex-start;
  gap: 20px; 
}

.user_information_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.user {
  width: 100%;
}

.user_information img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  align-items: center;
}

.followers_details {
  display: flex;
  margin-right: 3rem;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.username_details {
  margin-top: 2rem;
}

.repos{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.user_information button {
  padding: 10px 24px;
  border: none;
  background-color: #8C19D2;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.user_information button:hover {
  background-color: white;
  border: solid 1px #8C19D2;
  color: #8C19D2;
}

header {
  display: flex;
  background-color: white;
  height: 110px;
  justify-content: space-around;
  align-items: center;
}

.search {
  width: 60%;
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
  justify-content: flex-end;
}

.search input {
  width: 40%;
  padding: 10px 24px;
  border-radius: 6px;
  border: 1px solid #E2E8F0;
}

.search input:hover {
  border-color: #8C19D2;
}

.search input:focus-visible{
  outline: none;
}

.search button {
  width: 20%;
  border: none;
  background-color: #8C19D2;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.search button:hover {
  background-color: white;
  border: solid 1px #8C19D2;
  color: #8C19D2;
}

@media screen and (max-width: 412px){
  .container {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5rem;
    gap: 1px;
  }
  header {
    padding: 1rem;
    height: 10vh;
  }
  .search input {
    width: 50%;
  }

  .user_information_name div {
    width: 50vw;
  }

  .user_information {
    width: 100%;
    height: 100vh;
    margin-bottom: 2rem;
  }

  .user_information p {
    font-size: 0.9rem;
  }

  .user_information button {
    font-size: 0.7rem;
  }

  .bio {
    display: flex;
    width: 80vw;
  }
}

@media screen and (min-width: 413px) and (max-width: 1300px){
  .container {
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    gap: 1px;
    align-items: center;
  }
  header {
    padding: 1rem;
    height: 10vh;
  }
  .search input {
    width: 50%;
  }
  
  .user_information_name div {
    width: 50vw;
  }

  .user_information {
    width: 100%;
    height: 40vh;
    margin-bottom: 3rem;
  }

  .user_information button {
    font-size: 0.7rem;
  }

  .bio {
    display: flex;
    width: 80vw;
  }
}