.card{
  display: flex;
  padding: 1rem;
  width: 100vh;
  height: 180px;
  justify-content: space-between;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  align-items: center;
  border: 1px solid #E2E8F0;
  margin-bottom: 1rem;
}

.details {
  display: flex;
}

.details img{
  border-radius: 50%;
  width: 85px;
  height: 85px;
  margin-right: 1rem;
}

.details p:nth-child(1) {
  color: #8C19D2; 
}

.stars {
  display: flex;
  color: #4A5568;
  gap: 0.5rem;
}

.repo_details {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: space-around;
}